In [1]:
import pandas as pd
import codecs

with codecs.open('spam.csv', 'r', encoding='ISO-8859-1') as s:
    df = pd.read_csv(s)

In [2]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

# TF-IDF Vectorization
tfidf = TfidfVectorizer()
X = tfidf.fit_transform(df['v2'])
y = df['v1']

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

# Train Naive Bayes classifier
nb_classifier = MultinomialNB()
nb_classifier.fit(X_train, y_train)

MultinomialNB()

In [8]:
nb_classifier

MultinomialNB()

In [9]:
# Predictions
nb_pred = nb_classifier.predict(X_test)

In [10]:
nb_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'spam'], dtype='<U4')

In [11]:
# Model Evaluation
nb_accuracy = accuracy_score(y_test, nb_pred)
nb_classification_report = classification_report(y_test, nb_pred)

In [12]:
print("Naive Bayes Classifier Accuracy:", nb_accuracy)

Naive Bayes Classifier Accuracy: 0.9623318385650225

In [13]:
print("Naive Bayes Classifier Report:", nb_classification_report)

Naive Bayes Classifier Report:               precision    recall  f1-score   support

         ham       0.96      1.00      0.98       965
        spam       1.00      0.72      0.84       150

    accuracy                           0.96      1115
   macro avg       0.98      0.86      0.91      1115
weighted avg       0.96      0.96      0.96      1115

In [14]:
from sklearn.linear_model import LogisticRegression

# Train Logistic Regression classifier
lr_classifier = LogisticRegression()
lr_classifier.fit(X_train, y_train)

LogisticRegression()

In [15]:
# Predictions
lr_pred = lr_classifier.predict(X_test)

In [16]:
lr_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [17]:
# Model Evaluation
lr_accuracy = accuracy_score(y_test, lr_pred)
lr_classification_report = classification_report(y_test, lr_pred)

In [18]:
print("Logistic Regression Classifier Accuracy:", lr_accuracy)

Logistic Regression Classifier Accuracy: 0.9623318385650225

In [19]:
print("Logistic Regression Classifier Report:", lr_classification_report)

Logistic Regression Classifier Report:               precision    recall  f1-score   support

         ham       0.96      1.00      0.98       965
        spam       1.00      0.72      0.84       150

    accuracy                           0.96      1115
   macro avg       0.98      0.86      0.91      1115
weighted avg       0.96      0.96      0.96      1115

In [20]:
from sklearn.svm import SVC

# Train SVM classifier
svm_classifier = SVC()
svm_classifier.fit(X_train, y_train)

SVC()

In [21]:
# Predictions
svm_pred = svm_classifier.predict(X_test)

In [22]:
svm_pred

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [23]:
# Model Evaluation
svm_accuracy = accuracy_score(y_test, svm_pred)
svm_classification_report = classification_report(y_test, svm_pred)

In [24]:
print("SVM Classifier Accuracy:", svm_accuracy)

SVM Classifier Accuracy: 0.9766816143497757

In [25]:
print("SVM Classifier Report:",svm_classification_report)

SVM Classifier Report:               precision    recall  f1-score   support

         ham       0.97      1.00      0.99       965
        spam       1.00      0.83      0.91       150

    accuracy                           0.98      1115
   macro avg       0.99      0.91      0.95      1115
weighted avg       0.98      0.98      0.98      1115